#counter-card{
    width: 400px;
    background:#15202b;
    margin: 170px auto 0px;
    padding: 20px;
    text-align: center;
    color:#ffffff;
   

.btn{
    margin-top:15px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-left:10px;
    background-color: #8899a6;
    color:#ffffff;
    margin-left:20px;
}

#count-el{
    margin:20px 30px;
    font-size: 30px;
}
#save-el{
    margin: 30px 15px;
}